.intro {
  margin-top: 7rem;
  margin-bottom: 5rem;
  width: 100%;
  background-color: $DarkViolet;
  color: $VeryLightGray;

  &__image {
    &.mobile {
      width: 100%;
      display: flex;

      img {
        width: 100%;
      }
      @include min(750px) {
        display: none;
      }
    }

    &.desktop {
      display: none;

      @include min(750px) {
        display: inline-block;
        position: relative;
        img {
          width: 100%;
        }
      }
      @include min(990px) {
        display: inline-block;
        position: relative;

        img {
          position: absolute;
          left: 0;
          top: -5rem;
        }
      }
    }
  }

  &__content {
    padding: 10rem 0;
    text-align: center;

    @include min(750px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.5rem;
      text-align: left;
      padding: 5rem 0;
    }
    @include min(990px) {
      padding: 13rem 0;
    }
  }

  &__title {
    font-size: 4.25rem;
    margin-bottom: 2rem;
    color: #fff;
    position: relative;

    @include min(990px) {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -5rem;
        width: 10rem;
        height: 1px;
        background-color: $VeryLightGray;
      }
    }
  }
  &__body {
    line-height: 1.5;
    margin-bottom: 4rem;
  }
}
